spring:
  application:
    name: kis-docker-test

server:
  port: 8080

logging:
  level:
    root: INFO
    cz.jtbank.kis: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
